<!doctype html>
<html ng-app="staffApp">
<head>
<title>gulp sample</title>
<!--build:js js/scripts.min.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script
	src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<!-- endbower -->
<!-- inject:js -->
<script src="/app/script.js"></script>
<!-- endinject -->
<!-- endbuild -->
<!--build:css css/styles.min.css -->
<!-- bower:css -->
<link rel="stylesheet"
	href="bower_components/bootstrap/dist/css/bootstrap.css" />
<!-- endbower -->
<!-- inject:css -->
<link rel="stylesheet" href="/app/style.css">
<!-- endinject -->
<!-- endbuild -->
</head>
<body ng-controller="mainController" style="height: 100%;">
	<div id="header">
		<img src="assets/images/mindtree_color_logo.png" alt="Mindtree Logo">
		<img src="assets/images/profile.jpg" alt="profile" height="70px"
			width="70px" style="float: right">
	</div>
	<div class="container-fluid">
		<ul class="nav nav-pills nav-justified">
			<li class="active"><a data-toggle="pill" href="#staffView">View</a></li>
			<li><a data-toggle="pill" href="#staffCreate">Create</a></li>
			<li><a data-toggle="pill" href="#staffUpdate">Update</a></li>
			<li><a data-toggle="pill" href="#staffDelete">Delete</a></li>
		</ul>
		<div class="tab-content">
			<div id="staffView" class="tab-pane fade in active">
				<div id="nav">
					<ul>
						<li><a href="#"> Employee </a></li>
						<li><a href="#admin"> Admin </a></li>
						<li><a href="#security"> Security </a></li>
					</ul>
				</div>
				<div id="mainContent">
					<div ng-view></div>
				</div>
			</div>
			<div id="staffCreate" class="tab-pane fade">
				<form name="myForm" ng-submit="createForm()"
					ng-controller="createController">
					Name <input type="text" ng-model="fields.name" /><br> MID <input
						type="text" ng-model="fields.mid" /><br> Age <input
						type="text" ng-model="fields.age" /><br> Gender <input
						type="text" ng-model="fields.gender" /><br> Competency <input
						type="text" ng-model="fields.competency" /><br> Role <input
						type="text" ng-model="fields.role" /><br>
					<button type="submit">Create</button>
				</form>
			</div>
			<div id="staffUpdate" class="tab-pane fade">
				<form name="myForm" ng-submit="updateForm()"
					ng-controller="updateController">
					Name <input type="text" ng-model="fields.name" /><br> MID <input
						type="text" ng-model="fields.mid" /><br> Age <input
						type="text" ng-model="fields.age" /><br> Gender <input
						type="text" ng-model="fields.gender" /><br> Competency <input
						type="text" ng-model="fields.competency" /><br> Role <input
						type="text" ng-model="fields.role" /><br>
					<button type="submit">Update</button>
				</form>
			</div>
			<div id="staffDelete" class="tab-pane fade">
				<form name="myForm" ng-submit="deleteForm()"
					ng-controller="deleteController">
					MID <input type="text" ng-model="fields.mid" /><br>
					<button type="submit">Delete</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
